@import "./reset";
/*@import "variable";*/
@import "./clearfix";
body {
  background-color: #C0C0C0;
  font-size: 10px;
  color: black;
  margin: 0 auto;
  height: 100%;
}

.left_content {
  background-color: blue;
  width: 300px;
  height: 1000px;
  /*margin: 10px auto;*/
  font-size: 100px;
  float: left;
}

.left_content .header {
  background-color: #2f3e51;
  width: 300px;
  height: 50px;
}

.right_content {
  background-color: #AAAAAA;
  width: 100vw;
  /*margin: 10px auto;*/
  height: 100px;
  float: left;
}


.right_content .header {
  background-color: #eeeeee;
  width: calc(100vw-300px);
  height: 50px;
}

/*$section-color: rgb(30,30,30);
section {
  background-color: $section-color;
}*/

